<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <!-- <link rel="stylesheet" href="tela2.css"> -->
    <!-- <link rel="stylesheet" href="tela3.css"> -->
    <link rel="stylesheet" href="edit.css">
    <link rel="icon" href="../../assets/images/Hydro logo vertical/hydro_logo_vertical_black.ico" type="image/x-icon" />
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">
    <title>Gerador de Escalas</title>

</head>
<!-- <div class="screen-loading-container mostrar">
    <div class='loading-image-container'>
        <img src="../../assets/images/hydro_logo_vertical_negative.png" alt="">
    </div>
    <div class="loading-progress">
        <span></span>
        <span></span>
        <span></span>
    </div>
</div> -->
<div class="screen-loading-container mostrar">
    <div class='loading-image-container'>
        <img src="../../assets/images/mining-negative.png" alt="">
    </div>
    <div class="loading-progress">
        <span></span>
        <span></span>
        <span></span>
    </div>
</div>

<!-- <div class="component-loading-container">
    <div class='loading-image-container'>
        <img src="../../assets/images/hydro_logo_vertical_blue.png">
    </div>
    <div class=" loading-progress">
        <span></span>
        <span></span>
        <span></span>
    </div>
</div> -->
<div class="component-loading-container">
    <div class='loading-image-container'>
        <img src="../../assets/images/mining-black.png">
    </div>
    <div class=" loading-progress">
        <span></span>
        <span></span>
        <span></span>
    </div>
</div>

<body>
    <main class="mainContainer">
        <div class="mainEditarEscalaContainer">
            <section class="inputContainer">
                <input type="text" list="" placeholder="Insira o valor para substituir" inputMudanca hidden>
                <select id="select-field">
                </select>
            </section>
            <section class="checkbox-container">
            </section>

            <section class="personalizadoBtnContainerTela4 col2">
                <button class="personalizadoBtn" cancelar>Cancelar</button>
                <button class="personalizadoBtn" salvarEdicao>Salvar</button>
            </section>
        </div>
        <section class="escalaContainer">
            <table class="styled-table">
                <thead>
                    <tr>
                        <th>
                            <div class="">
                                <label for="">Tag</label>
                            </div>
                        </th>
                        <th>
                            <div class="thContainer">
                                <label for="">Operador</label>
                                <img class="edit" src="../../assets/images/editar.png" col2>
                                <!-- <a class="icon">
                                </a> -->
                            </div>
                        </th>

                        <th>
                            <div class="thContainer">
                                <label for="">local</label>
                                <img class="edit" src="../../assets/images/editar.png" col3>
                                <!-- <a class="icon">
                                </a> -->
                            </div>
                        </th>
                        <th>
                            <div class="thContainer">
                                <label for="">Transporte</label>
                                <img class="edit" src="../../assets/images/editar.png" col4>
                                <!-- <a class="icon">
                                </a> -->
                            </div>

                        </th>
                        <th>
                            <div class="thContainer">
                                <label for="">Atividade</label>
                                <img class="edit" src="../../assets/images/editar.png" col5>
                                <!-- <a class="icon">
                                </a> -->
                            </div>

                        </th>
                    </tr>
                </thead>

                <tbody>

                    <!-- <tr id=${index}>
                        <td col1 class="${className}"><label for="col1${index}">equipamento</label></td>
                        <td col2 class="${className}"><label for="col2${index}">operador</label></td>
                        <td col3 class="${className}"><label for="col3${index}">local</label></td>
                        <td col4 class="${className}"><label for="col4${index}">transporte</label></td>
                        <td col5 class="${className}"><label for="col5${index}">atividade</label></td>
                    </tr>
                    <tr id=${index}>
                        <td col1 class="${className}"><label for="col1${index}">equipamento</label></td>
                        <td col2 class="${className}"><label for="col2${index}">operador</label></td>
                        <td col3 class="${className}"><label for="col3${index}">local</label></td>
                        <td col4 class="${className}"><label for="col4${index}">transporte</label></td>
                        <td col5 class="${className}"><label for="col5${index}">atividade</label></td>
                    </tr>
                    <tr id=${index}>
                        <td col1 class="${className}"><label for="col1${index}">equipamento</label></td>
                        <td col2 class="${className}"><label for="col2${index}">operador</label></td>
                        <td col3 class="${className}"><label for="col3${index}">local</label></td>
                        <td col4 class="${className}"><label for="col4${index}">transporte</label></td>
                        <td col5 class="${className}"><label for="col5${index}">atividade</label></td>
                    </tr>
                    <tr id=${index}>
                        <td col1 class="${className}"><label for="col1${index}">equipamento</label></td>
                        <td col2 class="${className}"><label for="col2${index}">operador</label></td>
                        <td col3 class="${className}"><label for="col3${index}">local</label></td>
                        <td col4 class="${className}"><label for="col4${index}">transporte</label></td>
                        <td col5 class="${className}"><label for="col5${index}">atividade</label></td>
                    </tr> -->

                </tbody>

            </table>
            <div class="creditosEOperadoresForaEscala">
                <div class="operadoresForaEscalaContainer">
                    <h5>Operadores Fora de Escala</h5>
                    <ul>
                        <!-- <li>operador</li>
                        <li>operador</li>
                        <li>operador</li> -->
                    </ul>
                </div>
            </div>
        </section>

        <!-- <aside class="bodyEditarEscalaContainer">
        </aside> -->
        <section class="personalizadoBtnContainer">
            <button class="personalizadoBtn" voltar>Voltar</button>

            <button class="personalizadoBtn" gerarEscala>Gerar nova escala</button>
        </section>



    </main>

</body>
<script src="index.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>

</html>