* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

.main-container {
    background-color: #444D55;
    display: flex;
    height: 100vh;
    width: 100vw;
    align-items: center;
    justify-content: center;
}

.login-container {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 70%;
    background-color: #fff;
    padding: 1% 2%;
    border-radius: 15px;
}

.image-container {
    width: 100px;
    height: 100px;
}

.image-container img {
    object-fit: contain;
    width: 100%;
    height: 100%;
}

.header-login-container {
    width: 100%;
    height: 30%;
    display: flex;
    flex-direction: column;
    /* background-color: aqua; */
    align-items: center;
}

.header-login-container h1 {
    color: #444D55;
}

.body-login-container {
    margin-top: 2%;
    border-top: 2px solid #768692;
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
    /* background-color: red; */
    align-items: center;
    justify-content: space-evenly;
}

.body-login-container input {
    width: 100%;
    height: 20%;
    border: 1px solid #768692;
    border-radius: 5px;
    padding: 0 1%;
    font-size: 16px;
    transition: 0.5s;
    outline: none;
}

.body-login-container input:focus {
    transform: scalex(1.02);
}

.footer-login-container {
    width: 100%;
    height: 20%;
    display: flex;
    flex-direction: column;
    /* background-color: rebeccapurple; */
    align-items: center;
    justify-content: center;
}

.footer-login-container button {
    width: 100%;
    background-color: #14B190;
    height: 50%;
    font-size: 14px;
    text-transform: uppercase;
    border-radius: 5px;
    color: #fff;
    border: none;
    transition: 0.5s;
    font-weight: bold;
    letter-spacing: 2px;
}

.footer-login-container button:hover {
    transform: scale(1.05);
}

.screen-loading-container {
    display: none;
    background-color: #444D55;
    z-index: 10;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* transition: 3s ease 1s; */
}

.component-loading-container {
    display: none;
    background-color: rgba(189, 195, 199, 0.95);
    z-index: 10;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* transition: 3s ease 1s; */
}

.component-loading-container .loading-progress span {
    background-color: #484c54;
    opacity: 1;
}

.loading-progress {
    /* background-color: #B95946; */
    height: 20%;
    width: 10%;
    display: flex;
    justify-content: space-between;
}


.loading-progress span {
    animation: dots 2s infinite ease-in-out;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    display: inline-block;
    background-color: #fff;
}

.loading-progress span:nth-child(1) {
    animation-delay: 0.4s;
}

.loading-progress span:nth-child(2) {
    animation-delay: 0.8s;
}

.loading-progress span:nth-child(3) {
    animation-delay: 1.2s;
}

@keyframes dots {
    50% {
        transform: scale(1.5);
    }
}

.loading-image-container {
    /* background-color: aqua; */
    width: auto;
    height: 50%;

}

.loading-image-container img {
    object-fit: contain;
    width: 100%;
    height: 100%;
}

.mostrar {
    display: flex;
}

@media screen and (max-width: 720px) {

    .header-login-container h1 {
        font-size: 18px;
    }

    .login-container {
        width: 90%;
    }

    .loading-progress {
        /* background-color: #B95946; */
        height: 20%;
        width: 20%;
    }

    .loading-progress span {
        width: 15px;
        height: 15px;
    }


}