<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="config.css">
    <link rel="icon" href="../../assets/images/Hydro logo vertical/hydro_logo_vertical_black.ico" type="image/x-icon" />
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">
    <title>Gerador de Escalas</title>

</head>

<!-- <div class="screen-loading-container mostrar">
    <div class='loading-image-container'>
        <img src="../../assets/images/hydro_logo_vertical_negative.png" alt="">
    </div>
    <div class="loading-progress">
        <span></span>
        <span></span>
        <span></span>
    </div>
</div> -->
<div class="screen-loading-container mostrar">
    <div class='loading-image-container'>
        <img src="../../assets/images/mining-negative.png" alt="">
    </div>
    <div class="loading-progress">
        <span></span>
        <span></span>
        <span></span>
    </div>
</div>

<!-- <div class="component-loading-container">
    <div class='loading-image-container'>
        <img src="../../assets/images/hydro_logo_vertical_blue.png">

    </div>
    <div class=" loading-progress">
        <span></span>
        <span></span>
        <span></span>
    </div>
</div> -->
<div class="component-loading-container">
    <div class='loading-image-container'>
        <img src="../../assets/images/mining-black.png">

    </div>
    <div class=" loading-progress">
        <span></span>
        <span></span>
        <span></span>
    </div>
</div>

<body>

    <div class="mainContainer">
        <header class="headerContainer">
            <section class="imageAndTextContainer">
                <div class="logoAndTextContainer">
                    <div class="imageContainer" configuracoes>
                        <!-- <img src="../../assets/images/hydro_logo_vertical_blue.png" alt="" srcset=""> -->
                        <img src="../../assets/images/mining-black.png" alt="" srcset="">
                    </div>
                    <h1>Lista de Escalas</h1>
                </div>

                <div class="turmasContainer">
                    <select name="selectTurmas" id="turmas">
                        <!-- <option value="">Selecione uma Turma</option> -->
                        <option value="a">Turma A</option>
                        <option value="b">Turma B</option>
                        <option value="c">Turma C</option>
                        <option value="d">Turma D</option>
                    </select>
                </div>
            </section>

            <section class="creditsContainer">
                <p>Created by <strong>Matheus Rodrigues Vieira</strong></p>
                <p>Operador de Equipamentos e Instalações I</p>
                <p>GEMIN / GADEM</p>

            </section>
        </header>

        <main class="escalasContainer">
            <section class="tituloEConfiguracoes">
                <h2 tituloEscalas></h2>

                <div class="icons-container">
                    <a class="icon rotate" configuracao>
                        <!-- <img class="" src="../../assets/images/logout.svg" alt="" srcset=""> -->
                        <img class="" src="../../assets/images/settings.svg" alt="" srcset="" title="Configuração">
                    </a>
                    <a class="icon" logout>
                        <img class="" src="../../assets/images/logout.svg" alt="" srcset="" title="Logout">
                        <!-- <img class="" src="../../assets/images/settings.svg" alt="" srcset=""> -->
                    </a>
                    <a class="icon rotate" refresh>
                        <img class="" src="../../assets/images/refresh.svg" alt="" srcset="" title="Recarregar">
                        <!-- <img class="" src="../../assets/images/settings.svg" alt="" srcset=""> -->
                    </a>
                </div>
            </section>

            <section class="listaContainer">
                <ul>


                    <!-- <li>
                        <div class="liContainer">
                            <div>Escala 1</div>
                            <div>13/09/2023</div>
                            <div class="controlesContainer">
                                <a class="icon">
                                    <img src="../../assets/images/delete.png" alt="" srcset="">
                                </a>
                                <a class="icon">
                                    <img src="../../assets/images/info.png" alt="" srcset="">
                                </a>
                            </div>
                        </div>
                    </li> -->

                </ul>
            </section>

            <section class="personalizadoBtnContainer">
                <button class="personalizadoBtn coverBtn" novaEscala>Gerar nova escala</button>
            </section>
        </main>

    </div>



    <!-- TELA 2 -->
    <!-- tela de configuracao -->

    <aside class="bodyConfiguracoesContainer">
        <div class="mainContainer">
            <section class="headerContainer">
                <div class="imageAndTextContainer">
                    <div class="imageContainer">
                        <!-- <img src="../../assets/images/hydro_logo_vertical_blue.png" alt="" srcset=""> -->
                        <img src="../../assets/images/mining-black.png" alt="" srcset="">
                    </div>
                    <h1>Configurações de Disponibilidade</h1>
                </div>
                <!-- <button class="personalizadoBtnTela3" resetarBancoDados>Resetar Aplicação</button> -->
            </section>

            <section class="configuracoesEBotaoContainer">
                <div class="configuracoesContainer">

                    <div class="tituloELista">
                        <h2>Operadores</h2>
                        <div class="listaConfiguracoesContainer">
                            <ul listaOperadores>

                                <!-- <li id="${index}">
                                    <div class="liConfiguracaoContainer">
                                        <div class="operadorEEquipamentoNome">Operador A</div>
                                        <div class="operadorEEquipamentoStatus">Disponível</div>
                                        <div class="controlesConfiguracaoContainer">

                                            <div class="switchContainer">
                                                <span class='toggleButton'></span>
                                            </div>
                                        </div>
                                    </div>
                                </li> -->

                                <!-- <li>
                                    <div class="liConfiguracaoContainer">
                                        <div>Escala 1</div>
                                        <div>13/09/2023</div>
                                        <div class="controlesConfiguracaoContainer">
                                            <a class="icon">
                                                <img src="../../images/delete_FILL0_wght400_GRAD0_opsz24.png" alt="" srcset="">
                                            </a>
                                            <a class="icon">
                                                <img src="../../images/info_FILL0_wght400_GRAD0_opsz24.png" alt="" srcset="">
                                            </a>
                                        </div>
                                    </div>
                                </li> -->
                            </ul>
                        </div>
                    </div>

                    <div class="tituloELista">
                        <h2>Equipamentos</h2>
                        <div class="listaConfiguracoesContainer">
                            <ul listaEquipamentos>

                                <!-- <li id="${index}">
                                    <div class="liConfiguracaoContainer">
                                        <div class="operadorEEquipamentoNome">Equipamento 1</div>
                                        <div class="operadorEEquipamentoStatus">Disponível</div>
                                        <div class="controlesConfiguracaoContainer">

                                            <div class="switchContainer">
                                                <span class='toggleButton'></span>
                                            </div>
                                        </div>
                                    </div>
                                </li> -->

                                <!-- <li>
                                    <div class="liConfiguracaoContainer">
                                        <div>Escala 1</div>
                                        <div>13/09/2023</div>
                                        <div class="controlesConfiguracaoContainer">
                                            <a class="icon">
                                                <img src="../../images/delete_FILL0_wght400_GRAD0_opsz24.png" alt="" srcset="">
                                            </a>
                                            <a class="icon">
                                                <img src="../../images/info_FILL0_wght400_GRAD0_opsz24.png" alt="" srcset="">
                                            </a>
                                        </div>
                                    </div>
                                </li> -->

                            </ul>
                        </div>
                    </div>

                </div>



                <section class="personalizadoBtnContainer">
                    <button class="personalizadoBtn coverBtn" Voltar>Voltar</button>
                </section>

            </section>

        </div>
    </aside>


    <script src="./index.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>

</html>